{% extends 'galery/base.html' %}

<title>{% block head_title %}Blog{% endblock head_title %}</title>

{% block body_block %}
<div id="fh5co-blog">
        <div class="container">
            <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="{% url 'blog:post_detail' pk=post.pk %}">
                            {% if post.image %}
                            <img class="img-responsive" src="{{post.image.url}}" alt="" style="height: 250px">
                            {% endif %}
                            </a>
                            <div class="blog-text" >
                                <div style="height: 250px">
                                    <h3><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                                    <br> {{ post.category }}
                                    <span class="posted_on">{{ post.published_date }}</span>
                                    <!--<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>-->
                                    <p>{{ post.text|truncatewords:60 }}</p>
                                </div>
                                <a href="{% url 'blog:post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
                                <!--a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a-->
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% else %}

            <p> No Blog Post. </p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock body_block %}
